@layer components {
  .parallelogram {
    @apply h-full;

    background: #0d1a21;
    transform: skew(-20deg);

    & > * {
      transform: skew(20deg);
    }
  }

  .social-icon {
    @apply text-white text-opacity-50;
  }

  .degen-img {
    @media (max-width: 1535px) {
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
      -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    }
  }

  .degen-modal {
    filter: drop-shadow(0px -2px 14px rgba(225, 224, 223, 0.25)) !important;

    @apply flex flex-col items-center justify-center !important;
    @apply md:bg-mint-modal md:bg-cover md:bg-no-repeat !important;
  }
}
