@import 'tailwindcss/base';
@import './base/index.css';

@import 'tailwindcss/components';
@import './components/index.css';

@import 'tailwindcss/utilities';
@import './utilities/index.css';

@import '@webaverse-studios/uikit/dist/style.css';

:root {
  --header-height: theme(height.12);
  --header-margin-desktop: theme(margin.8);
  --total-height: calc(var(--header-height) + var(--header-margin-desktop));
}

.test {
  --height: calc(var(--header-height) + var(--header-margin-desktop));
  margin-top: calc(var(--total-height) * -1);
}
