@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Winchester';
    src: url('../public/fonts/WinchesterRegular.ttf');
}

@font-face {
    font-weight: 400;
    font-family: 'Winchester';
    font-style: normal;
    src: local(''), url('../public/fonts/WinchesterRegular.ttf') format('ttf');
}
